<mat-card class="list-card">
  <mat-card-header>

    <mat-card-title>
      <h1 i18n>User List</h1>
    </mat-card-title>

  </mat-card-header>

  <mat-card-content class="list-container">
    
    <button color="primary" mat-raised-button (click)="callCreateUserModal()">
      <span i18n>Create User</span>
    </button>

    <mat-table [dataSource]="(userData$ | async)">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
                         i18n>Name</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone_number">
        <mat-header-cell *matHeaderCellDef
                         i18n>Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.phone_number}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef
                         i18n>Type of User</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.type}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
      <mat-row (click)="getDetails(row.id)" *matRowDef="let row; columns: visibleColumns"></mat-row>

    </mat-table>

  </mat-card-content>
</mat-card>
